In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy as sc
import numpy as np

In [2]:
LOL_data = pd.read_csv("high_diamond_ranked_10min.csv")
del LOL_data["gameId"] #for the model we wont need gameId column

In [3]:
LOL_data

,blueWins,blueWardsPlaced,blueWardsDestroyed,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,blueHeralds,...,redTowersDestroyed,redTotalGold,redAvgLevel,redTotalExperience,redTotalMinionsKilled,redTotalJungleMinionsKilled,redGoldDiff,redExperienceDiff,redCSPerMin,redGoldPerMin
0,0,28,2,1,9,6,11,0,0,0,...,0,16567,6.8,17047,197,55,-643,8,19.7,1656.7
1,0,12,1,0,5,5,5,0,0,0,...,1,17620,6.8,17438,240,52,2908,1173,24.0,1762.0
2,0,15,0,0,7,11,4,1,1,0,...,0,17285,6.8,17254,203,28,1172,1033,20.3,1728.5
3,0,43,1,0,4,5,5,1,0,1,...,0,16478,7.0,17961,235,47,1321,7,23.5,1647.8
4,0,75,4,0,6,6,6,0,0,0,...,0,17404,7.0,18313,225,67,1004,-230,22.5,1740.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9874,1,17,2,1,7,4,5,1,1,0,...,0,15246,6.8,16498,229,34,-2519,-2469,22.9,1524.6
9875,1,54,0,0,6,4,8,1,1,0,...,0,15456,7.0,18367,206,56,-782,-888,20.6,1545.6
9876,0,23,1,0,6,7,5,0,0,0,...,0,18319,7.4,19909,261,60,2416,1877,26.1,1831.9
9877,0,14,4,1,2,3,3,1,1,0,...,0,15298,7.2,18314,247,40,839,1085,24.7,1529.8
9878,1,18,0,1,6,6,5,0,0,0,...,0,15339,6.8,17379,201,46,-927,58,20.1,1533.9

In [4]:
def basic_info(df):
    return {"shape":df.shape,
             "columns":list(df.columns),
             "Nas":df.isna().sum(),
             "info":df.info(),
             "describe":df.describe()}

In [5]:
basic_info(LOL_data) #we have no missing values
#we can also see here some basics descriptive statistics and info about the features of the dataset.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9879 entries, 0 to 9878
Data columns (total 39 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   blueWins                      9879 non-null   int64
 1   blueWardsPlaced               9879 non-null   int64
 2   blueWardsDestroyed            9879 non-null   int64
 3   blueFirstBlood                9879 non-null   int64
 4   blueKills                     9879 non-null   int64
 5   blueDeaths                    9879 non-null   int64
 6   blueAssists                   9879 non-null   int64
 7   blueEliteMonsters             9879 non-null   int64
 8   blueDragons                   9879 non-null   int64
 9   blueHeralds                   9879 non-null   int64
 10  blueTowersDestroyed           9879 non-null   int64
 11  blueTotalGold                 9879 non-null   int64
 12  blueAvgLevel                  9879 non-null   float64
 13  blueTotalExperience           9879 non-null   int64
 14  blueTotalMinionsKilled        9879 non-null   int64
 15  blueTotalJungleMinionsKilled  9879 non-null   int64
 16  blueGoldDiff                  9879 non-null   int64
 17  blueExperienceDiff            9879 non-null   int64
 18  blueCSPerMin                  9879 non-null   float64
 19  blueGoldPerMin                9879 non-null   float64
 20  redWardsPlaced                9879 non-null   int64
 21  redWardsDestroyed             9879 non-null   int64
 22  redFirstBlood                 9879 non-null   int64
 23  redKills                      9879 non-null   int64
 24  redDeaths                     9879 non-null   int64
 25  redAssists                    9879 non-null   int64
 26  redEliteMonsters              9879 non-null   int64
 27  redDragons                    9879 non-null   int64
 28  redHeralds                    9879 non-null   int64
 29  redTowersDestroyed            9879 non-null   int64
 30  redTotalGold                  9879 non-null   int64
 31  redAvgLevel                   9879 non-null   float64
 32  redTotalExperience            9879 non-null   int64
 33  redTotalMinionsKilled         9879 non-null   int64
 34  redTotalJungleMinionsKilled   9879 non-null   int64
 35  redGoldDiff                   9879 non-null   int64
 36  redExperienceDiff             9879 non-null   int64
 37  redCSPerMin                   9879 non-null   float64
 38  redGoldPerMin                 9879 non-null   float64
dtypes: float64(6), int64(33)
memory usage: 2.9 MB

{'shape': (9879, 39),
 'columns': ['blueWins',
  'blueWardsPlaced',
  'blueWardsDestroyed',
  'blueFirstBlood',
  'blueKills',
  'blueDeaths',
  'blueAssists',
  'blueEliteMonsters',
  'blueDragons',
  'blueHeralds',
  'blueTowersDestroyed',
  'blueTotalGold',
  'blueAvgLevel',
  'blueTotalExperience',
  'blueTotalMinionsKilled',
  'blueTotalJungleMinionsKilled',
  'blueGoldDiff',
  'blueExperienceDiff',
  'blueCSPerMin',
  'blueGoldPerMin',
  'redWardsPlaced',
  'redWardsDestroyed',
  'redFirstBlood',
  'redKills',
  'redDeaths',
  'redAssists',
  'redEliteMonsters',
  'redDragons',
  'redHeralds',
  'redTowersDestroyed',
  'redTotalGold',
  'redAvgLevel',
  'redTotalExperience',
  'redTotalMinionsKilled',
  'redTotalJungleMinionsKilled',
  'redGoldDiff',
  'redExperienceDiff',
  'redCSPerMin',
  'redGoldPerMin'],
 'Nas': blueWins                        0
 blueWardsPlaced                 0
 blueWardsDestroyed              0
 blueFirstBlood                  0
 blueKills                       0
 blueDeaths                      0
 blueAssists                     0
 blueEliteMonsters               0
 blueDragons                     0
 blueHeralds                     0
 blueTowersDestroyed             0
 blueTotalGold                   0
 blueAvgLevel                    0
 blueTotalExperience             0
 blueTotalMinionsKilled          0
 blueTotalJungleMinionsKilled    0
 blueGoldDiff                    0
 blueExperienceDiff              0
 blueCSPerMin                    0
 blueGoldPerMin                  0
 redWardsPlaced                  0
 redWardsDestroyed               0
 redFirstBlood                   0
 redKills                        0
 redDeaths                       0
 redAssists                      0
 redEliteMonsters                0
 redDragons                      0
 redHeralds                      0
 redTowersDestroyed              0
 redTotalGold                    0
 redAvgLevel                     0
 redTotalExperience              0
 redTotalMinionsKilled           0
 redTotalJungleMinionsKilled     0
 redGoldDiff                     0
 redExperienceDiff               0
 redCSPerMin                     0
 redGoldPerMin                   0
 dtype: int64,
 'info': None,
 'describe':           blueWins  blueWardsPlaced  blueWardsDestroyed  blueFirstBlood  \
 count  9879.000000      9879.000000         9879.000000     9879.000000
 mean      0.499038        22.288288            2.824881        0.504808
 std       0.500024        18.019177            2.174998        0.500002
 min       0.000000         5.000000            0.000000        0.000000
 25%       0.000000        14.000000            1.000000        0.000000
 50%       0.000000        16.000000            3.000000        1.000000
 75%       1.000000        20.000000            4.000000        1.000000
 max       1.000000       250.000000           27.000000        1.000000

          blueKills   blueDeaths  blueAssists  blueEliteMonsters  blueDragons  \
 count  9879.000000  9879.000000  9879.000000        9879.000000  9879.000000
 mean      6.183925     6.137666     6.645106           0.549954     0.361980
 std       3.011028     2.933818     4.064520           0.625527     0.480597
 min       0.000000     0.000000     0.000000           0.000000     0.000000
 25%       4.000000     4.000000     4.000000           0.000000     0.000000
 50%       6.000000     6.000000     6.000000           0.000000     0.000000
 75%       8.000000     8.000000     9.000000           1.000000     1.000000
 max      22.000000    22.000000    29.000000           2.000000     1.000000

        blueHeralds  ...  redTowersDestroyed  redTotalGold  redAvgLevel  \
 count  9879.000000  ...         9879.000000   9879.000000  9879.000000
 mean      0.187974  ...            0.043021  16489.041401     6.925316
 std       0.390712  ...            0.216900   1490.888406     0.305311
 min       0.000000  ...            0.000000  11212.000000     4.800000
 25%       0.000000  ...            0.000000  15427.500000     6.800000
 50%       0.000000  ...            0.000000  16378.000000     7.000000
 75%       0.000000  ...            0.000000  17418.500000     7.200000
 max       1.000000  ...            2.000000  22732.000000     8.200000

        redTotalExperience  redTotalMinionsKilled  redTotalJungleMinionsKilled  \
 count         9879.000000            9879.000000                  9879.000000
 mean         17961.730438             217.349226                    51.313088
 std           1198.583912              21.911668                    10.027885
 min          10465.000000             107.000000                     4.000000
 25%          17209.500000             203.000000                    44.000000
 50%          17974.000000             218.000000                    51.000000
 75%          18764.500000             233.000000                    57.000000
 max          22269.000000             289.000000                    92.000000

         redGoldDiff  redExperienceDiff  redCSPerMin  redGoldPerMin
 count   9879.000000        9879.000000  9879.000000    9879.000000
 mean     -14.414111          33.620306    21.734923    1648.904140
 std     2453.349179        1920.370438     2.191167     149.088841
 min   -11467.000000       -8348.000000    10.700000    1121.200000
 25%    -1596.000000       -1212.000000    20.300000    1542.750000
 50%      -14.000000          28.000000    21.800000    1637.800000
 75%     1585.500000        1290.500000    23.300000    1741.850000
 max    10830.000000        9333.000000    28.900000    2273.200000

 [8 rows x 39 columns]}

There is nothing much to do about the clean process so let's proceed to do some EDA.

## EDA (Exploratory Data Analysis)